@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styling */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* ================= SCAN ANIMATION ================= */

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: calc(100% - 4px);
  }
}

.animate-scan {
  position: absolute;
  left: 0;
  animation: scan 2s ease-in-out infinite alternate;
}

/* ================= SIDE AMBIENT GLOW ================= */

@keyframes sideGlow {
  0% {
    opacity: 0.15;
    transform: translateY(-20%);
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.15;
    transform: translateY(20%);
  }
}

.animate-sideGlow {
  animation: sideGlow 6s ease-in-out infinite alternate;
}

/* ================= PANEL BREATHING GLOW ================= */

@keyframes panelGlow {
  0% {
    box-shadow: 0 0 30px rgb(34, 34, 35);
  }
  50% {
    box-shadow: 0 0 60px rgb(63, 63, 64);
  }
  100% {
    box-shadow: 0 0 30px rgb(79, 79, 79);
  }
}

.animate-panelGlow {
  animation: panelGlow 6s ease-in-out infinite;
}
